node_modules
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
logs/
*.log
.DS_Store
frontend/node_modules
frontend/dist
data/
dumps/
backend/data/db.json
backend/data/*
!backend/data/.gitkeep
pids/
*.pid
*.seed
*.pid.lock
coverage/
.nyc_output/
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.vscode/
.idea/
*.swp
*.swo
*~
*.tmp
*.temp
/*.mp3
aurral-search/*
desktop/node_modules/
desktop/src-tauri/target/
backend/native/aurral-worker/target/